body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../img/atomic_background.png');
  background-color: #121342;
}
.black-body{
  background-color: #000;
}
main {
 flex: 1 0 auto;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/font1.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.formulario{
  background-color: white;
}
.text-container{
  background: white;
  height: 200px;
  color: black;
  padding: 15px;
  font-size: 1.5em;
  border: solid rgba(0, 0, 0, 0) 5px;
  border-radius: 4px;
}
.border-container{
  border: solid rgba(0, 0, 0, 0) 5px;
  border-radius: 4px;
}
.mainTitle{
  color: white;
}