<!DOCTYPE html>
<html ng-app="App">
<head>
	<meta charset="utf-8">
	<!--Import Google Icon Font-->
	<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>


	<script src="js/angular.min.js"></script>
	<script src="js/controllers/controlador-preguntas.js"></script>
	<script src="js/controllers/factory.js"></script>
	<script src="js/controllers/fb-sdk.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/style.css">

	 <!-- You can use Open Graph tags to customize link previews.
	 Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<!--  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
	 <meta property="og:type"          content="website" />
	 <meta property="og:title"         content="Your Website Title" />
	 <meta property="og:description"   content="Your description" />
	 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /> -->

	</head>
	<body ng-controller="CtrlPreguntas">

		<nav>
			<div class="nav-wrapper blue darken-3">
				<a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li class="fb-user">
						<!-- Facebook image load here -->
					</li>
					<li><a href="index.html"><i class="material-icons">view_module</i></a></li>
					<li class="active"><a href="#">Preguntas</a></li>
					<li><a href="corrector.html">Corrección de texto</a></li>
					<li><a href="definiciones.html">Definiciones</a></li>
					<li><a href="preguntas.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Recargar página"><i class="material-icons">refresh</i></a></li>
					<!-- Dropdown Trigger -->
					<li><a class='dropdown-button' href='#' data-activates='dropdown2'><i class="material-icons">more_vert</i></a></li>
					<!-- Dropdown Structure -->
					<ul id='dropdown2' class='dropdown-content'>
						<li class="divider"></li>
						<li><a href="#!">Info</a></li>
						<li class="divider"></li>
						<li><a href="#!">Licencia</a></li>
					</ul>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li class="fb-user">
						<!-- Facebook image load here -->
					</li>
					<li class="active"><a href="#">Preguntas</a></li>
					<li><a href="corrector.html">Corrección de texto</a></li>
					<li><a href="definiciones.html">Definiciones</a></li>
					<li><a href="index.html"><i class="material-icons">view_module</i></a></li>
					<li><a href="preguntas.html"><i class="material-icons">refresh</i></a></li>
					<!-- Dropdown Trigger -->
					<li><a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons">more_vert</i></a></li>
					<!-- Dropdown Structure -->
					<ul id='dropdown1' class='dropdown-content'>
						<li class="divider"></li>
						<li><a href="#!">Info</a></li>
						<li class="divider"></li>
						<li><a href="#!">Licencia</a></li>
					</ul>
				</ul>
			</div>
		</nav>
		<div class="progress">
			<div class="indeterminate"></div>
		</div>
		<main class="container">
			<br>
			<br>

			<!-- Page Content goes here -->
			<!-- FORMULARIO INICIAL -->
			<div class="formulario z-depth-4">
				<br><br>
				<div class="row">
					<form class="col s10 offset-s1" autocomplete="off" name="formulario" novalidate>
						<div class="row">
							<div class="input-field col s12">
								<div class="fb-login-btn hide">
									<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> <br><br>
									Inicie sesión con Facebook o ingrese su nombre y apellido.
								</div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="name" type="text" class="validate" ng-model="name" required>
								<label for="name" data-error="Complete el campo" data-success="correcto">Nombre</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="lastName" type="text" class="validate" ng-model="lastName" required>
								<label for="lastName" data-error="Complete el campo" data-success="correcto">Apellido</label>
							</div>
						</div>

						<div class="row center-align">
							<button class="btn waves-effect waves-light botonMayusculas" ng-click="init()" ng-disabled="formulario.$invalid">Comenzar
								<i class="material-icons right">send</i>
							</button>

						</div>

					<!-- <p>Elija una categoría</p>
					<br>
					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><i class="material-icons">label_outline</i>Mayúsculas</div>
							<div class="collapsible-body"><p>Acceder al juego para aprender las reglas sobre el uso de las mayúsculas.</p>
								<div class="row center-align">
									<a class="btn waves-effect waves-light botonMayusculas" ng-click="init()" ng-disabled="formulario.nombre.error">Comenzar
										<i class="material-icons right">send</i>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">label_outline</i>Minúsculas</div>
							<div class="collapsible-body"><p>Acceder al juego para aprender las reglas sobre el uso de las minúsculas.</p>
								<div class="row center-align">
									<a class="btn waves-effect waves-light botonMinusculas" ng-click="init()" ng-disabled="formulario.nombre.error">Comenzar
										<i class="material-icons right">send</i>
									</a>
								</div>
							</div>
						</li>
					</ul> -->
				</form>
			</div>
			<br>
		</div>


		<!-- DIV PARA EL JUEGO -->
		<div class="juego hide">
			<h5 class="mainTitle">Reglas de uso de la mayúscula y minúscula</h5>
			<div class="">
				<div class="chip chipScore ">Puntuación: {{ puntuacion }}
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="card blue-grey darken-1 border-container">
						<div class="card-content white-text">
							<span class="card-title"></span>
							<p style="font-size: 1.3em;">{{ selected.pregunta }}</p>
						</div>
						<div class="card-action">
							<!-- <a href="#">This is a link</a> -->
							<a href="#" id="btn_siguiente" ng-click="siguiente()">Siguiente</a>
						</div>
					</div>
					<p class="z-depth-4"></p>
				</div>
			</div>
			<div class="row">
				<!-- contenedor texto 1 -->
				<div class="col s6 m4 offset-m2">
					<div class="card z-depth-4" id="contenedor_texto_1">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="{{ selected.img1 }}" ng-click="comparar_respuesta(1)" id="img1">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4" ng-click="comparar_respuesta(1)"><i class="material-icons right">pageview</i></span><br>
							<!-- <p><a href="#">This is a link</a></p> -->
						</div>
						<div class="card-reveal">
							<!-- <span class="card-title grey-text text-darken-4">t<i class="material-icons right">close</i></span> -->
							<p style="font-size: 1.2em;">{{ selected.texto1 }}</p>
						</div>
					</div>
				</div>
				<!--  -->

				<!-- contenedor texto 2 -->
				<div class="col s6 m4">
					<div class="card z-depth-4" id="contenedor_texto_2">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="{{ selected.img2 }}" ng-click="comparar_respuesta(2)" id="img2">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4" ng-click="comparar_respuesta(2)"><i class="material-icons right">pageview</i></span><br>
							<!-- <p><a href="#">This is a link</a></p> -->
						</div>
						<div class="card-reveal">
							<!-- <span class="card-title grey-text text-darken-4">t<i class="material-icons right">close</i></span> -->
							<p style="font-size: 1.2em;">{{ selected.texto2 }}</p>
						</div>
					</div>
				</div>
				<!--  -->
				
			</div>
		</div>

		<!-- //////// -->


	</main>   
	<div class="container">
		<div class="row">
			<div class="col s12 m6"></div>
			<div class="col s12 m6">
				<span class="flow-text">

				</span>
			</div>

		</div>

	</div>
	<footer class="page-footer blue darken-3">

		<div class="footer-copyright">
			<div class="container">
				<!-- © 2014 Copyright Text -->
				<!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
				<div
				class="fb-like"
				data-share="true"
				data-width="200"
				data-show-faces="true">
			</div>
		</div>
	</div>
	<br>
</footer>
<!--Import jQuery before materialize.js-->
<script src="js/materialize.min.js"></script>
<script src="js/controllers/fb-login-builder.js"></script>
</body>

<!-- Modal Structure -->
<div id="modal_final" class="modal">
	<div class="modal-content">
		<h4>Su puntuación es de: {{ puntuacion }}</h4>
		<p>Puede iniciar un nuevo juego o compartir la aplicación en Facebook</p>
		<div
		class="fb-like"
		data-share="true"
		data-width="450"
		data-show-faces="true">
	</div>
	<br>
</div>
<div class="modal-footer">
	<a href="index.html" class="right modal-action modal-close waves-effect waves-green btn btn-green lighten-2">Nuevo juego</a>
</div>
</div>

<a class="hide" ng-click="init()" id="initFB" btn-active="true"></a>

</html>
