<div ng-controller="definiciones-controller">
	<div class="row">
	<p style="font-size: 1.2em;" class="white-text">Grupos de definiciones</p>
		<div class="col s12">
			<ul class="collapsible popout" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
					<div class="collapsible-body white-background"><p>Lorem ipsum dolor sit amet.</p></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
					<div class="collapsible-body white-background"><p>Lorem ipsum dolor sit amet.</p></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
					<div class="collapsible-body white-background"><p>Lorem ipsum dolor sit amet.</p></div>
				</li>
			</ul>

		</div>
	</div>
	
	<script >
		jQuery(document).ready(function($) {
			$('.collapsible').collapsible({
	      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	  });
			$("body").removeClass("black-body");
		});
	</script>
</div>
