<div ng-controller="definiciones-controller">
	<div class="row">
		<p style="font-size: 1.2em;" class="white-text">Grupos de definiciones</p>
		<div class="col s12">
			<ul class="collapsible popout" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><i class="material-icons">assignment_late</i><strong>Cuestiones formales generales</strong>
					</div>
					<div class="collapsible-body white-background">
						<p>
							<strong>
								1. El empleo de la mayúscula no exime de poner la tilde cuando así lo exijan las reglas de acentuación.
							</strong>
							<br>
							<em>Únicamente, África.</em>
							<br><br>
							<strong>
								2. Cuando los dígrafos ch, gu, ll y qu se emplean en mayúscula al inicio de una palabra escrita con minúsculas, solo adopta forma de mayúscula el primero de sus componentes.
							</strong>
							<br>
							<em>Chillida, Guinea, Llerena, Quevedo.</em>
							<br><br>
							<strong>
								 3. La forma mayúscula de las letras i y j carece del punto que llevan en su grafía minúscula.
							</strong>
							<br>
							<em>Inés, Javier.</em>
						</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">library_books</i><strong>Uso de mayúsculas en palabras o frases enteras</strong>
					</div>
					<div class="collapsible-body white-background">
						<p>
							<strong>
								1. Se escriben enteramente en mayúscula las siglas y algunos acrónimos.
							</strong>
							<br>
							<em> ISBN, OTI, ONG.</em>
							<br><br>
							<strong>
								2. Se utiliza la escritura en mayúsculas con el fin de destacar determinadas frases o palabras dentro de un escrito.
							</strong>
							<br>
							<em>EL UNIVERSAL, LA NACIÓN, TIEMPO.</em>
							<br><br>
							<strong> - En documentos legales.</strong>
							<br>
							<em>CERTIFICA, EXPONE, SOLICITA.</em>
							<br><br>
							<strong> - En textos de carácter informativo.</strong>
							<br>
							<em>ESTÁ PROHIBIDO FUMAR DENTRO DE LAS DEPENDENCIAS DE LA EMPRESA.</em>
						</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">lock_outline</i><strong>Uso de mayúscula inicial exigido por la puntuación</strong>
					</div>
					<div class="collapsible-body white-background">
						<p>
							<strong>
								1. Si se trata de la primera palabra de un escrito o va después de punto.
							</strong>
							<br>
							<em> Hoy no iré. Mañana puede que sí.</em>
							<br><br>
							<strong>
								2. Si sigue a los puntos suspensivos, cuando estos cierran un enunciado.
							</strong>
							<br>
							<em>Compramos mariscos, solomillos, vino... La cena resultó un éxito.</em>
							<br><br>
							<strong>
							 	3. Si los puntos suspensivos no cierran el enunciado, sino que este continúa tras ellos, la palabra que los sigue se escribe con inicial minúscula.
							 </strong>
							<br>
							<em>Estoy pensando que... aceptaré; en esta ocasión debo arriesgarme.
							<strong> 
								4. Después de los dos puntos.
							</strong>
							<br>
							<em>Muy señor mío: / Le agradeceré...</em>
							<br><br>
							<strong> 
								5. En frases interrogativas y exclamativas existen dos posibilidades.
							</strong>
							<br>
							<strong> a.</strong>
							<br>
							<em>¿En qué año nació tu abuelo? Si no me equivoco, tenía la misma edad que el mío.</em>
							<br>
							<strong> b.</strong>
							<br>
							<em>¿Qué sorpresas me deparará este día?, me pregunto ante el espejo cada mañana.</em>
							<br>
							<em>Natalia, ¿puedes ayudarme?</em>
						</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">info</i><strong>Uso de mayúscula inicial independientemente de la puntuación</strong>
					</div>
					<div class="collapsible-body white-background">
						<p>
							<strong>
								1. Los nombres propios de persona, animal y cosa singularizada.
							</strong>
							<br>
							<em> Beatriz, Platero, Tizona.</em>
							<br><br>
							<strong>
								2. Los nombres de divinidades.
							</strong>
							<br>
							<em>Dios, Jehová, Alá, Afrodita, Júpiter, Amón.</em>
							<br><br>
							<strong>
							 	3. Los apellidos.
							 </strong>
							<br>
							<em>Jiménez, García, Mendoza.</em>
							<br>
							<em>Juan de Ávalos, Pedro de la Calle.</em>
							<br><br>
							<strong> 
								4. Los sobrenombres, apodos y seudónimos.
							</strong>
							<br>
							<em> Manuel Benítez, el Cordobés; José Nemesio, alias el Chino.</em>
							<br><br>
							<strong> 
								5. Los nombres abstractos personificados, utilizados alegóricamente.
							</strong>
							<br>
							<em>La Muerte, la Esperanza, el Mal.</em>
							<br><br>
							<strong>
								6.  Los nombres propios geográficos.
							</strong>
							<br>
							<em> América, África, Italia.</em>
							<br>
							<em>El Adriático, el Mediterráneo, el Orinoco, el Ebro, los Andes.</em>
							<br><br>
							<strong> 
								7. Los nombres comunes genéricos que acompañan a los nombres propios geográficos.
							</strong>
							<br>
							<em>La ciudad de Panamá, el río Ebro, la sierra de Gredos, la cordillera de los Andes.</em>
							<br>
							<strong>Solo si el nombre genérico forma parte del nombre propio.</strong>
							<br>
							<em>Ciudad Real, Río de la Plata, Sierra Nevada, los Picos de Europa.</em>
							<br><br>
							<strong> 
								8.  Las designaciones que, por antonomasia, tienen algunos topónimos y que se usan como alternativa estilística a su nombre oficial.
							</strong>
							<br>
							<em>El Nuevo Mundo (por América), la Ciudad Eterna (por Roma).</em>
							<br><br>
							<strong> 
								9. Los sustantivos y adjetivos que forman parte del nombre de determinadas zonas geográficas.
							</strong>
							<br>
							<em>Occidente, Oriente Medio, Cono Sur, Hispanoamérica, el Magreb.</em>
							<br><br>
							<strong> 
								10. Los nombres de vías y espacios urbanos. 
							</strong>
							<br>
							<em>Alcalá, calle Mayor, plaza de España, avenida de la Ilustración.</em>
							<br><br>
							<strong> 
								11. Los nombres de galaxias, constelaciones, estrellas, planetas y satélites.
							</strong>
							<br>
							<em>La Vía Láctea, la Osa Mayor, la Estrella Polar, Venus, Ganimedes.</em>
							<br><br>
							<strong> 
								12. Los nombres de los signos del Zodiaco.
							</strong>
							<br>
							<em>Balanza (por Libra), Toro (por Tauro), Carnero (por Aries).</em>
							<br><br>
							<strong> 
								13. Los nombres de los cuatro puntos cardinales cuando se usan como sustantivo.
							</strong>
							<br>
							<em>Norte, Sur, Este, Oeste.</em>
							<br><br>
							<strong> 
								14. Los sustantivos y adjetivos que componen el nombre de entidades, organismos, departamentos o divisiones administrativas.
							</strong>
							<br>
							<em>El Ministerio de Hacienda, la Casa Rosada, la Biblioteca Nacional.</em>
							<br><br>
							<strong> 
								15. Los nombres de los libros sagrados y sus designaciones antonomásticas.
							</strong>
							<br>
							<em>La Biblia, el Corán, el Avesta, el Talmud.</em>
							<br><br>
							<strong> 
								16. Los sustantivos y adjetivos que forman parte del nombre de publicaciones periódicas o de colecciones.
							</strong>
							<br>
							<em>La Vanguardia, Nueva Revista de Filología Hispánica.</em>
							<br><br>
							<strong> 
								17. La primera palabra del título de cualquier obra de creación.
							</strong>
							<br>
							<em>Últimas tardes con Teresa, La vida es sueño, La lección de anatomía.</em>
						</p>
					</div>
				</li>
			</ul>

		</div>
	</div>

	<script >
		jQuery(document).ready(function($) {
			$('.collapsible').collapsible({
	      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	  });
			$("body").removeClass("black-body");
		});
	</script>
</div>
