<div ng-controller="main-controller">
	<div class="row">
		<div class="col s12">
			<div class="card-panel teal">
				<span class="white-text">I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<div class="card-panel blue darken-3">
				<h5 class="">Preguntas</h5>
				<span class="white-text">I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
				</span>
				<br><br>
				<a class="btn waves-effect btn-flat" href="#preguntas">Ingresar
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card-panel purple accent-4">
				<h5 class="">Corrección de texto</h5>
				<span class="white-text">I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
				</span>
				<br><br>
				<a class="btn waves-effect btn-flat" href="#corrector">Ingresar
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card-panel green darken-3">
				<h5 class="">Definiciones</h5>
				<span class="white-text">I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
				</span>
				<br><br>
				<a class="btn waves-effect btn-flat" href="#definiciones">Ingresar
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
	</div>
	<script >
		$("body").addClass("black-body");
	</script>
	
</div>