<div ng-controller="main-controller">
	<div class="row">
		<div class="col s12">
			<div class="card-panel teal">
				<span class="white-text">Esta página está pensada para que personas de cualquier edad que tengan conocimientos mínimos de uso de computadoras e internet puedan aprender de manera interactiva como aplicar las reglas de uso de mayúscula y minúscula. 
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<div class="card-panel blue darken-3">
				<h5 class="">Preguntas</h5>
				<span class="white-text">Las preguntas es un juego en donde el usuario deberá leer un enunciado y evaluar de acuerdo a su conocimiento si lo que se propone es verdadero o falso, al final se le mostrará el puntaje.
				</span>
				<br><br>
				<a class="btn waves-effect btn-flat" onclick="chekfFB()" href="#preguntas">Ingresar
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card-panel purple accent-4">
				<h5 class="">Corrección de texto</h5>
				<span class="white-text">La corrección de texto tiene la finalidad de mostrar al usuario cuales son las reglas más básicas de uso de mayúscula y minúscula mediante la verificación en tiempo real del texto que se ingrese en la aplicación.
				</span>
				<br><br>
				<a class="btn waves-effect btn-flat" href="#corrector">Ingresar
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card-panel green darken-3">
				<h5 class="">Definiciones</h5>
				<span class="white-text">Las definiciones son un diccionario de conceptos ordenados por  que ayudarán al usuario a comprender las reglas de uso de mayúscula y minúsculas de manera más fácil.
				</span>
				<br><br>
				<a class="btn waves-effect btn-flat" href="#definiciones">Ingresar
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
	</div>
	<script >
		$("body").addClass("black-body");
	</script>
	
</div>